html{
box-sizing: border-box;
}
*,
*::after,
*::before{
  box-sizing:inherit;
}


:root {
 --second-font: 'Roboto', sans-serif;
 --colorfont-hiro: #FFFFFF;
 --colorfont-section-title:#212121;

 
 --section-fon-second:#2F303A;
 --section-fon-third:#F5F4FA;
 
 

}

body{

font-family: 'Roboto', sans-serif;
font-size: 14px;
letter-spacing: 0,03em;
background: var(--colorfont-hiro) ;

/*колір основного тексту #757575*/
/*колір вторинного тексту #212121*/
/*колір н1 #FFFFFF*/
/*колір акцент.логотіпа #2196F3
                        #000000 * /
/*колір першого фону (основний)#FFFFFF */
/*колір другого фону #2F303A*/
/*колір третього фону #F5F4FA*/

} 

     /*!--робота з текстом в  ссилках в шапці */

.link{
  text-decoration: none;
}
.link:hover,
.link:focus{

color:#2196F3;
}
.link-first-btn:hover,
.link-first-btn:focus{
     font-family: inherit;
     background:#FFFFFF;
}

.list{

 list-style:none;}
       /*--задаю єлементам в хедері розмітку--*/

.container{
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  outline: dashed;
  color:aqua;
}

.header-container{
display: flex;
align-items: center;
}

.header-list{
  display: flex;
  align-items: center;
}




.logo-link{
  display: flex;
  margin-top: 24px;
  margin-bottom: 25px;
  margin-left: 0px;
  

  font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: calc(16 / 14);
}
.logo-color-first{
color:#2196f3;
}
.logo-color-second{
color:#000000 ;
}
.logo-colorsecond-footer{
 color:#FFFFFF;
}
      /*розмитка для nav*/
.list-nav{
margin-left: 93px;
margin-right:auto;
}

.header-nav-item:not( :last-child) {
margin-right: 50px;


}


.header-nav-link{
  padding: 24px 0px;
  

  font-family: var( --second-font);
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
   color: #212121;
}

      /* розмитка для тел и пошти*/
.list-item{
margin-right: 0;
margin-left:auto;
}

.header-nav-mail{
  padding: 24px 0px;
  font-family: var( --second-font);
font-weight: 500;
line-height: calc(16 / 14);
letter-spacing: 0.02em;

color:#757575;
}
 
.header-nav-tel{
  margin-left: 50px;
  padding: 24px 0px;

  font-family: var( --second-font);
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  
  color: #757575;
}




    /*робота с першою секцією-герой*/
    /*розмітка секції герой*/
.section-first{
 background:var(--section-fon-second) ;
}
.section-title-first{
   display:flex;
   justify-content: center;

   padding-top: 200px;
   padding-bottom: 280px;
  
   

  font-family: var( --colorfont-hiro);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  /* or 136% */
  
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  
  color:var(--colorfont-hiro);
}

.btn-hero{
display:inline-block;
padding: 10px 32px;
margin-top: 30px;


}


.section-first-btn{


  
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  
  display:flex;
  letter-spacing: 0.06em;

  color: #FFFFFF;
  background: #2196F3;
}

.active-link{
  color:#2196f3;
}
 
    /*Робота з другою секцією*/
    /*розмітка*/
.about-container{
display: flex;
}

.about-list{
display: flex;
align-items: flex-start;
padding-left: 0px;
}

.about-header{
margin-top: 94px;
padding-left: 0px;
}

.about-content{
margin-top: 10px;
padding-left: 0px;
}

.about-header-content:not(:last-child){
margin-right: 30px;
}

.title{
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: #212121;
}

.advanteg-our{
  font-size: 14px;
  line-height: calc(24 / 14);
   letter-spacing: 0.03em;
  color: #757575;
}

    /*третя секція Img*/
    /*розмітка третьої секції*/

.section-title{
  display:flex;
  margin-top: 118px;
  justify-content: center;

  font-family:var(--second-font);
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  
  color:var(--colorfont-section-title);
}

.list-img{
display: flex;
justify-content: space-between;
margin-top: 50px;
padding-left: 0px;
}
      /*четверта секция-наши сотрудники(section-employees)*/
      /*розмітка четвертої секції*/
.employees-title{
display: flex;
align-items: center;
margin-top: 188px;
}

.employees-img{
display: flex;
justify-content: space-between;
margin-top: 50px;
margin-left: 0px;
}
.section-fourth{
 background:var(--section-fon-third) ;
}
.title-employees{
      display: flex;
      justify-content: space-around;
      margin-top: 30px;
      
      font-weight: 500;
      font-size: 16px;
      line-height: calc(19 / 16);
      
    
      letter-spacing: 0.03em;
      
      color: #212121;
}
.employees{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;

  font-size: 16px;
  line-height: calc(19 / 16);
  
  
  letter-spacing: 0.03em;
  
  color: #757575;
}

   /*Робота з підвалом*/
   /*розмітка підвала*/

.list-footer{
display:flex;
padding-left: 0px;
flex-direction: column;
}
.logo-footer{
display: flex;
margin-top: 154px;
padding-top: 60px;
margin-bottom: 0px;
}
.footer{
 background:var(--section-fon-second);
}
.adress{
  padding-top: 20px;


  font-style: normal;
  line-height:calc(24v / 14);
  letter-spacing: 0.03em;
  
  color: #FFFFFF;
}
.footer-nav{

font-style: normal;
line-height: calc(24 / 14);
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.footer-adress{
  padding-top: 20px;
}

.footer-last{
padding-top: 9px;
}

     /*СТИЛІ ДЛЯ ПОРТФОЛІО*/

    /*Стилізація кнопок*/
 
.portfolio-btn{
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height:calc(26 / 16);
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.portfolio-btn-link:hover,
.portfolio-btn-link:focus{
   color:#FFFFFF;
   background-color: #2196f3;
}

.portfolio-titles{
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  /* identical to box height, or 200% */
  
  letter-spacing: 0.06em;
  
  color: #212121;
}

.portfolio-item{
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  
  letter-spacing: 0.03em;
  
  color: #757575;
}


    